.cancel-btn {
  width: 12rem;
  height: 4rem;

  background: #f8f9fa;
  border-radius: 1rem;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0px 1.6rem;

  border: none;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3.2rem;

  color: #e34444;
  transition: background 0.3s;
}

.search-text {
  width: 32rem;
  height: 4rem;

  padding: 1.6rem;

  background: #f8f9fa;
  margin: 4.8rem auto 1.6rem auto;
  border: 0.04rem solid rgb(82, 82, 82);

  border-radius: 1.6rem;

  font-family: Poppins;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 3.2rem;
}

.search-btn {
  width: 12rem;
  height: 4rem;

  background: #48cae4;
  border-radius: 1rem;

  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0 auto;

  border: none;

  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 3.2rem;

  color: #f8f9fa;
  transition: background 0.3s;
}

.search-btn:hover {
  cursor: pointer;
  background: #1f7bad;
}
